<h1> Grove Geocoder </h1>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<div id="add-location">
  <input id="location" class="controls" type="text" required placeholder="Enter a location" style='width: 800px'>
</div>