<!DOCTYPE html>
<html>
  <head>
    <title>GroveSubmission</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="http://maps.googleapis.com/maps/api/js?libraries=geometry,places&key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
